<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<th:block th:fragment="page_header">
<header class="row">
	<p class="col-md-2 col-12"><a th:href="@{/}" title="Strona główna"><img th:src="@{/img/logo.png}" alt="Logo urzędu" ></a></p>
	<h1 class="col-md col-12">Biuletyn Informacji Publicznej Instytucji ABC</h1>
	<p class="col-md-3 col-12"><a href="http://bip.gov.pl" title="Biuletyn Informacji Publicznej"><img th:src="@{/img/ava.jpg}" alt="Logo BIP"></a></p>
</header>
</th:block>

<th:block th:fragment="panel_header">
<header class="row">
	<h1 class="col-md-12">Biuletyn Informacji Publicznej - panel redaktora</h1>
</header>
</th:block>

<th:block th:fragment="admin_header">
<header class="row">
	<h1 class="col-md-12">Biuletyn Informacji Publicznej - panel admina</h1>
</header>
</th:block>

</body>
</html>