<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<th:block th:fragment="panel_menu">
	<nav class="col-md-3 main-menu">
		<a class="nav-item nav-link" href="/panel/">Strona główna</a>
		<a class="nav-item nav-link" href="/panel/lista-artykulow">Lista artykułów</a>
		<a class="nav-item nav-link" href="/panel/drzewo-artykulow">Drzewo artykułów</a>
		<a class="nav-item nav-link" href="/panel/dodaj/artykul">Dodaj artykuł</a>
		<a class="nav-item nav-link" href="/panel/lista-brudnopisow">Twoje brudnopisy</a>
		<a class="nav-item nav-link" href="/panel/twoja-aktywnosc">Twoja aktywność</a>
		<a class="nav-item nav-link" href="/redaktor/zmien-haslo">Zmień hasło</a>
		<a class="nav-item nav-link" href="/logout">Wyloguj się</a>
	</nav>
</th:block>
<th:block th:fragment="admin_menu">
	<nav class="col-md-3 main-menu">
		<a class="nav-item nav-link" href="/admin/">Strona główna</a>
		<a class="nav-item nav-link" href="/admin/dodaj/redaktor">Dodaj redaktora</a>
		<a class="nav-item nav-link" href="/redaktor/zmien-haslo">Zmień hasło</a>
		<a class="nav-item nav-link" href="/logout">Wyloguj się</a>
	</nav>
</th:block>
</body>
</html>