<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <title>Panel Admina - strona główna</title>
</head>
<body>

<article layout:fragment="admin_content" class="col-md-8">

<h2>Lista redaktorów</h2>

<div class="row">
	<p class="alert alert-success text-center col-md-10 offset-md-1" th:if="${editorSuccess}" th:text="${editorSuccess}"></p>
</div>
<div class="row">
	<p class="alert alert-danger text-center col-md-10 offset-md-1" th:if="${editorFailure}" th:text="${editorFailure}"></p>
</div>

	<table class="table table-hover">
		<caption>Zestawienie redaktorów uszeregowane alfabetycznie po nazwisku.</caption>
		<thead class="thead-dark">
				<th>Imię i nazwisko</th>
				<th>Email</th>
				<th>Telefon</th>
				<th>Aktywny</th>
				<th>Hasło</th>
		</thead>
		
		<tbody>
			<tr th:each="editor : ${editors}">
				<td><a th:href="@{'/admin/edytuj/' +${editor.email}}"
						th:title="#{title.edit.editor}" th:text="${editor.fullName}"></a></td>
				<td th:text="${editor.email}"></td>
				<td th:text="${editor.phone}"></td>
				<td><th:block th:replace="fragments/links :: activate (${editor})"/></td>
				<td><th:block th:replace="fragments/links :: reset_password (${editor})"/></td>
			</tr>
		</tbody>
	</table>

</article>

</body>
</html>