<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/panel_layout}">
<head>
    <title>Lista artykułów - panel redaktora</title>
</head>
<body>

<article layout:fragment="panel_content" class="col-md-8">

<h2>Lista wszystkich artykułów</h2>

	<p class="alert alert-success text-center col-md-10 offset-md-1" th:if="${articleSuccess}" th:text="${articleSuccess}"></p>

	<p class="button-middle"><a href="/panel/dodaj/artykul" title="Dodaj nowy artykuł" class="btn btn-success">Dodaj nowy artykuł</a></p>

	<ol class="link-list">
		<li class="link-list-element" th:each="article : ${allArticles}">
		<a th:href="@{'/panel/zarzadzaj/' +${article.link}}" th:text="${article.title}" 
			title="Zarządzaj artykułem" class="link-list-element-link"></a>
		</li>
	</ol>

	<p class="button-middle"><a href="/panel/dodaj/artykul" title="Dodaj nowy artykuł" class="btn btn-success">Dodaj nowy artykuł</a></p>

</article>

</body>
</html>