<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/panel_layout}">
<head>
    <title th:text="${'Zmień treść artykułu - ' + {article.title} + ' - panel redaktora'}"></title>
</head>
<body>

<article layout:fragment="panel_content" class="col-md-8">

<h2>Zmień treść artykułu</h2>

<form th:action="@{'/panel/edytuj/tresc/' + ${article.link} + '.do'}" th:object="${article}" method="post">
	<fieldset class="container">
		
		<p class="alert fade text-center" role="alert" id="ajax-sandbox-content-loaded"></p>
		
		<div class="form-group row" th:if="${error}">
			<p class="alert alert-danger text-center col-md-10 offset-md-1" th:text="${error}"></p>
		</div>
		
		<div class="form-group row">
			<label class="col-md-12" for="content">Treść:</label>
			<textarea class="form-control col-md-12" th:field="*{content}" id="content" rows="20"></textarea>
		</div>
		
		<input type="hidden" th:field="*{link}">
		
		<p class="button-middle">
			<button type="button" class="btn btn-info" 
				data-toggle="modal" data-target="#showSandboxListModal"
				th:title="#{title.edit.article.sandbox}" th:text="#{button.edit.article.sandbox}">
			</button>
			<button type="submit" class="btn btn-primary" 
				th:title="#{title.edit.article.content}" th:text="#{button.edit.article.content}">
			</button>
		</p>
	</fieldset>
</form>

	<th:block th:replace="fragments/panel_modals :: showSandboxList (${sandboxes})"/>

</article>

</body>
</html>