<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/panel_layout}">
<head>
    <title>Panel Redaktora - strona główna</title>
</head>
<body>

<article layout:fragment="panel_content" class="col-md-8">

<h2>Artykuły przypisane do menu głównego</h2>

<p class="article-info">Artykuł strony głównej opatrzony jest tytułem, jaki jest wyświetlany po wejściu na stronę główną serwisu. <br>
Lista nie zawiera artykułu tworzonego automatycznie czyli <em>Redakcja BIP</em>.</p>

	<ol class="list-group">
		<li class="list-group-item article-list-element" th:each="article : ${mainMenuArticles}">
			<a th:href="@{'/panel/zarzadzaj/' +${article.link}}" th:text="${article.title}" title="Zarządzaj artykułem"></a>
			<a href="#" title="Odepnij artykuł z głównego menu" class="badge badge-info delete-button">odepnij</a>
		</li>
	</ol>
</article>

</body>
</html>