<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/panel_layout}">
<head>
    <title>Drzewo artykułów - panel redaktora</title>
</head>
<body>

<article layout:fragment="panel_content" class="col-md-8">

<h2>Lista wszystkich artykułów w formacie drzewa</h2>

	<th:block th:replace="fragments/panel_buttons :: article_add"/>

    <ul th:fragment="category" class="link-list">
        <li class="tree-list-element" th:each="branch : ${branches}">
<!--             <a th:href="@{'/panel/zarzadzaj/' +${branch.link}}" th:text="${branch.title}" 
            	th:title="#{title.manage.article}" class="alert alert-link alert-secondary"></a> -->
            <th:block th:replace="fragments/panel_article_manage_link :: tree (${branch})"/>
            <ul class="link-list" th:include="this :: category" th:with="branches=${branch.children}" th:if="${branch.children.size() > 0}"></ul>
        </li>
    </ul>

	<th:block th:replace="fragments/panel_buttons :: article_add"/>

</article>

</body>
</html>