<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/panel_layout}">
<head>
    <title>Lista artykułów - panel redaktora</title>
</head>
<body>

<article layout:fragment="panel_content" class="col-md-8">

<h2>Lista wszystkich artykułów</h2>

	<p class="alert alert-success text-center col-md-10 offset-md-1" th:if="${articleSuccess}" th:text="${articleSuccess}"></p>

	<th:block th:replace="fragments/panel_buttons :: article_add"/>

	<ol class="link-list">
		<li class="link-list-element" th:each="article : ${allArticles}">
			<th:block th:replace="fragments/panel_article_manage_link :: nonsortable (${article})"/>
		</li>
	</ol>

	<th:block th:replace="fragments/panel_buttons :: article_add"/>

</article>

</body>
</html>