<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/panel_layout}">
<head>
    <title th:text="${'Zmień treść artykułu - ' + {article.title} + ' - panel redaktora'}"></title>
</head>
<body>

<article layout:fragment="panel_content" class="col-md-8">

<h2>Zmień treść artykułu</h2>

<form th:action="@{'/panel/edytuj/tresc/' + ${article.link} + '.do'}" th:object="${article}" method="post">
	<fieldset>
		
		<div class="form-group row" th:if="${error}">
			<p class="alert alert-danger text-center col-md-10 offset-md-1" th:text="${error}"></p>
		</div>
		
		<div class="form-group row">
			<label class="col-md-12" for="title">Treść:</label>
			<textarea class="form-control col-md-12" th:field="*{content}" id="content" rows="10"></textarea>
		</div>
		
		<input type="hidden" th:field="*{link}">
		
		<p class="button-middle"><button type="submit" class="btn btn-primary">Zapisz zmiany</button></p>
	</fieldset>
</form>

</article>

</body>
</html>