<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/panel_layout}">
<head>
    <title th:text="${article.title} + ' - zarządzaj artykułem - panel redaktora'"></title>
</head>
<body>

<article layout:fragment="panel_content" class="col-md-8">

<h2 th:text="${article.title} + ' - zarządzaj artykułem'"></h2>

<div class="row">
	<p class="alert alert-success text-center col-md-10 offset-md-1" th:if="${articleSuccess}" th:text="${articleSuccess}"></p>
	<p class="alert alert-danger text-center col-md-10 offset-md-1" th:if="${articleFailure}" th:text="${articleFailure}"></p>
</div>

<h3>Informacje podstawowe</h3>
<div class="row">
	<p class="col-md-12">Przypisany do menu głównego: <span class="badge badge-primary" th:text="${article.mainMenu} ? 'TAK' : 'NIE'"></span></p>
	<p class="col-md-6">Utworzony dnia: <span class="badge badge-dark" th:text="${#temporals.format(article.createdAt, 'dd-MM-yyyy HH:mm')}"></span></p>
	<p class="col-md-6">Ostatnia edycja dnia: <span class="badge badge-dark" th:text="${#temporals.format(article.editedAt, 'dd-MM-yyyy HH:mm')}"></span></p>
	<p class="col-md-6">Utworzony przez: <span class="badge badge-dark" th:text="${article.createdBy}"></span></p>
	<p class="col-md-6">Ostatnia edycja przez: <span class="badge badge-dark" th:text="${article.editedBy}"></span></p>
</div>
<p class="button-middle"><a th:href="@{'/panel/edytuj/tytul/' +${article.link}}" title="Zmień tytuł artykułu" class="btn btn-success">Zmień tytuł artykułu</a></p>

<h3>Treść artykułu</h3>
	<div class="article-content" th:utext="${article.content}"></div>
	<p class="button-middle"><a th:href="@{'/panel/edytuj/tresc/' + ${article.link}}" title="Zmień treść artykułu" class="btn btn-success">Zmień treść</a></p>

<h3>Artykuły przypisane</h3>
	<p class="article-info">Przeciągnij artykuły aby zmienić ich kolejność wyświetlania.</p>
	<p th:unless="${article.children.size() != 0}">Do artułu nie przypisano żadnych innych artykułów.</p>
	
	<ol class="tree">
		<li class="tree-branch" th:each="child : ${article.children}">
		<a th:href="@{'/panel/zarzadzaj/' + ${child.link}}" th:text="${child.title}" 
			class="alert alert-link alert-secondary" title="Zarządzaj artykułem"></a>
		<a th:href="@{'/panel/odepnij-dziecko/' + ${article.link} + '/' + ${child.link}}" 
			title="Usuń artykuł z listy" class="badge badge-danger delete-button">X</a>
		</li>
	</ol>

	<p class="button-middle"><a th:href="@{'/panel/przypnij-dziecko/' + ${article.link}}" title="Przypisz nowy artykuł" class="btn btn-success">Przypisz nowy artykuł</a></p>

<h3>Załączniki</h3>
	<p class="article-info">Przeciągnij załączniki aby zmienić ich kolejność wyświetlania.</p>
	<p th:unless="${article.attachments.size() != 0}">Do artułu nie przypisano żadnych załączników.</p>

	<ol class="tree">
		<li class="tree-branch" th:each="attachment : ${article.attachments}">
			<a th:href="@{'/upload/' +${attachment.fileName}}" class="alert alert-link alert-secondary" 
			th:text="${attachment.displayName + ' [.' + attachment.extension + '; '
				+ T(net.jewczuk.openbip.utils.DisplayUtils).formatSize(attachment.size) + ']'}" ></a>
			<a th:href="@{'/panel/usun/zalacznik/' + ${attachment.fileName} + '/' + ${article.link}}" 
				title="Usuń załącznik" class="badge badge-danger delete-button">X</a>
		</li>
	</ol>

	<p class="button-middle"><a th:href="@{'/panel/dodaj/zalacznik/' + ${article.link}}" title="Dodaj nowy załącznik" class="btn btn-success">Dodaj nowy załącznik</a></p>
	
<h3>Usuń artykuł</h3>
	<section class="article-info">
		<p>Usunięcie artykułu jest możliwe tylko gdy artykuł:</p>
		<ul>
			<li>nie jest przypisany do menu głównego lub innego artykułu oraz</li>
			<li>nie ma przypisanych dzieci</li>
		</ul>
	</section>
	<p class="alert alert-danger">Usunięcie artykułu jest nieodwracalne i powoduje również usunięcie całej jego historii!</p>
	<p class="button-middle"><a href="#" title="Usuń artykuł" class="btn btn-danger">Usuń artykuł</a></p>

</article>

</body>
</html>