<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/panel_layout}">
<head>
    <title>Przypnij artykuł do menu głównego - panel redaktora</title>
</head>
<body>

<article layout:fragment="panel_content" class="col-md-8">

<h2>Lista artykułów możliwych do przypięcia do menu głównego</h2>

<form action="#" th:action="@{/panel/dodaj-menu-glowne.do}" method="post">

	<div class="form-check" th:each="article : ${articles}">
		<input class="form-check-input" type="checkbox" th:value="${article.link}" th:id="${article.link}" name="selectedArticles">
		<label class="form-check-label" th:for="${article.link}" th:text="${article.title}"></label>
	</div>

	<p class="button-middle"><button type="submit" class="btn btn-primary">Przypnij wybrane</button></p>
</form>

</article>

</body>
</html>