<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/panel.css}" rel="stylesheet">
	<link rel="icon" th:href="@{/img/favicon.ico}">
	<title th:text="#{company.shortname} + ' - BIP - pierwsza konfiguracja'"></title>
</head>
<body>

<div class="container">
	<th:block th:replace="fragments/headers :: setup_header"/>
	<div class="row">
	
	<article class="col-md-8 offset-md-2">
			
		<h2 class="col-12">Skonfiguruj Twoją stronę Biuletynu Informacji Publicznej</h2>	
		
		<h3 class="col-12">Aktualna konfiguracja</h3>
		<dl class="config-list">
			<dt>Utworzone konto administratora:</dt>
			<dd th:text="${adminPresent} ? 'Utworzone' : 'Brak'"></dd>
			<dt>Pełna nazwa instytucji:</dt>
			<dd th:text="#{company.fullname}"></dd>
			<dt>Skrócona nazwa instytucji:</dt>
			<dd th:text="#{company.shortname}"></dd>
			<dt>Utworzona strona polityki prywatności:</dt>
			<dd>TODO</dd>
			<dt>Link do polityki prywatności:</dt>
			<dd th:text="#{show.privacypolicy} ? 'Pokazuj' : 'Nie pokazuj'"></dd>
			<dt>Utworzona strona polityki cookies:</dt>
			<dd>TODO</dd>
			<dt>Link do polityki cookies:</dt>
			<dd th:text="#{show.cookiespolicy} ? 'Pokazuj' : 'Nie pokazuj'"></dd>
		</dl>		
		
<!-- 		<h3 class="col-12">Testowanie połączenia z bazą danych</h3>
			<div class="col-12 row">
				<button class="col-md-3 btn btn-info" id="db-conn-test" th:text="#{button.test.connection}"></button>
				<p class="col-md-8 offset-md-1 alert alert-primary" id="db-conn-result">Nie przetestowanio połączenia</p>
			</div> -->
		<h3 class="col-12">Utworzenie konta administratora</h3>
			<p class="alert alert-success text-center" th:if="${adminPresent}">Konto administratora zostało już utworzone.
				<a th:href="@{/admin}">Zaloguj się</a>
			</p>
			
			<div th:unless="${adminPresent}">			
			<section class="article-info">
				<p>W systemie może istnieć tylko jedno konto administratora.</p>
				<p><strong>Nie można</strong> użyć tego samego adresu e-mail do utworzenia konta administratora i konta redaktora!</p>
				<p>Konto administratora tworzone jest z domyślnym hasłem (adres e-mail). Zalecana jest zmiana hasła.</p>
			</section>
			
			<form th:action="@{${postLink}}" th:object="${admin}" method="post">
				<fieldset class="container">
					<legend>Utwórz konto administratora</legend>
					
					<div class="form-group row" th:if="${error}">
						<p class="alert alert-danger text-center col-md-10 offset-md-1" th:text="${error}"></p>
					</div>
					
					<div class="form-group row">
						<label class="col-md-3" for="title">Adres email:</label>
						<input class="col-md-9 form-control" type="email" id="email" th:field="*{email}" required>
					</div>
					
					<p class="button-middle">
						<button type="submit" class="btn btn-primary" 
							th:text="#{button.add.admin}" th:title="#{title.add.admin}">
						</button>
					</p>
				</fieldset>
			</form>			
			</div>

		<h3 class="col-12">Dalsze niezbędne kroki</h3>
		<div id="accordion">
			<h4 th:title="#{title.show.additional.info}">Utwórz konto redaktora</h4>
			<div>
				<p>Z poziomu panelu administratora utwórz przynajmniej jedno konto redaktora.</p>
				<p>Tylko redaktor ma możliwość dodawania i zarzadzania artykułami. </p>
				<p>Pamiętaj, że dane redaktora (imię, nazwisko, adres email, telefon) są dostępne dla przeglądających stronę BIP.</p>
			</div>
			
			<h4 th:title="#{title.show.additional.info}">Dodaj artykuł strony głównej</h4>
			<div>
				<p>Z poziomu panelu redaktora utwórz przynajmniej jeden artykuł i odznacz go jako <em>strona główna</em>.</p>
				<p>Bez artykułu oznaczonego jako strona główna, wejście na stronę główną serwisu przekierowywać będzie na stronę <em>/strona-w-budowie</em>
				nawet jeżeli dostępne będą inne artykuły przypięte do menu głównego.</p>
			</div>
			
			<h4 th:title="#{title.show.additional.info}">Dodaj artykuł polityka prywatności i polityka cookies</h4>
			<div>
				<p>Domyślny link do polityki prywatności to <em>/artykul/polityka-prywatnosci</em>.</p>
				<p>Z tego wynika, że musisz utworzyć artykuł, którego tytuł musi zostać przekształcony do postaci <em>polityka-prywatnosci</em>.</p>
				<p>W panelu redaktora podczas dodawania nowego artykułu na bieżąco można śledzić link jaki zostanie utworzony z podanego tytułu.</p>
				<p>Domyślny link do polityki cookies to <em>/artykul/polityka-cookies</em>. Sposób postępowania jest identyczny jak w przypadku polityki prywatności.</p>
				<p><strong>Ważne:</strong> jeżeli chcesz by linki do powyższych artykułów były wyświetlna w stopce, to musisz ustawić odpowiednie opcje na <em>true</em> w pliku <em>company.properties</em>.</p>
			</div>
			
			<h4 th:title="#{title.show.additional.info}">Ustaw logo serwisu i favicon</h4>
			<div>
				<p>Logo można zmienić na dwa sposoby:</p>
				<ol>
					<li>Podmienić plik <em>logo.png</em> w katalogu <em>/resources/static/img</em></li>
					<li>W pliku <em>company.properties</em> ustawić link do swojego loga</li>
				</ol>
				<p>Logo skalowane jest do wysokości 75px. Można to oczywiście zmienić w pliu <em>main.css</em>.</p>
				<p>Plik <em>favicon.ico</em> znajduje się w katalogu <em>/resources/static/img</em>.</p>
			</div>
		</div>

	</article>
	</div>
	<th:block th:replace="fragments/footers :: panel_footer"/>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/js/test_module.js}"></script>
<script th:src="@{/js/test_main.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>