<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Historia artykułu</title>
</head>
<body>

<article layout:fragment="content" class="col-md-8">
	<header class="row jumbotron">
		<h2 th:text="${history.title} + ' - historia zmian'" class="col-12" />
		<div class="meta">
			<p>Tworzony automatycznie przy każdym wyświetleniu</p>
		</div>
	</header>
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Strona główna</a></li>
			<th:block th:unless="${history.link == 'strona-glowna'}">
			<li class="breadcrumb-item"><a th:href="@{'/artykul/' +${history.link}}" th:text="${history.title}"></a></li>
			</th:block>	
			<li class="breadcrumb-item active" aria-current="page">historia zmian treści</li>
		</ol>
	</nav>
	
	<h3 id="tresc" th:text="'Historia zmian treści - liczba wersji: ' + ${history.contentHistory.size()}"></h3>
	
	<section th:each="single : ${history.contentHistory}" class="history-section">
		<header>
			<h4 th:text="'Autor zmian: ' + ${single.createdBy}" />
			<h5 th:text="'Data zmian: ' + ${#temporals.format(single.createdAt, 'dd-MM-yyyy HH:mm')}" />
		</header>
		
		<div th:utext="${single.content}" class="history-content"/>
	</section>
	
	<h3 id="zalaczniki">Historia zmian załączników</h3>
	<p th:if="${history.attachmentsHistory.size() == 0}">Do artykułu nie zostały dodane żadne załączniki.</p>
	<ol class="list-group">
		<li class="list-group-item" th:each="attachment : ${history.attachmentsHistory}">
			<span th:text="${#temporals.format(attachment.createdAt, 'dd-MM-yyyy HH:mm')}" th:remove="tag" />
			<span th:text="' / ' + ${attachment.createdBy}" th:remove="tag" />
			<span th:text="' / ' + ${attachment.log}" th:remove="tag" />
		</li>
	</ol>
	
</article>

</body>
</html>