<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Strona Główna</title>
</head>
<body>

<article layout:fragment="content" class="col-md-8">
	<header class="row jumbotron">
		<h2 th:text="${article.title}" class="col-12" />
		<div class="meta">
			<p>Utworzony: <span th:text="${article.createdAt}" th:remove="tag"/></p>
			<p>Autor: <span th:text="${article.editedBy}" th:remove="tag"/></p>
		</div>
	</header>

	<nav aria-label="breadcrumb" th:unless="${article.link == 'strona-glowna'}">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Strona główna</a></li>
			<th:block th:each="crumb : ${breadcrumbs}">
			<li class="breadcrumb-item"><a th:href="@{'/artykul/' +${crumb.link}}" th:text="${crumb.title}"></a></li>
			</th:block>
			<li class="breadcrumb-item active" aria-current="page" th:text="${article.title}"></li>
		</ol>
	</nav>

	<nav class="article-children" th:if="${article.children.size() > 0}">
		<th:block th:each="child : ${article.children}">
		<a class="nav-item nav-link" th:href="@{'/artykul/' +${child.link}}" th:text="${child.title}"></a>
		</th:block>
	</nav>
	
	<div th:utext="${article.content}" th:remove="tag" />
	
</article>


</body>
</html>