<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Strona Główna</title>
</head>
<body>

<article layout:fragment="content" class="col-md-8">
	<header class="row jumbotron">
		<h2 th:text="${article.title}" class="col-12" />
		<div class="meta" th:unless="${article.createdAt == null}">
			<p>Utworzony: <span th:text="${#temporals.format(article.createdAt, 'dd-MM-yyyy HH:mm')}" th:remove="tag"/></p>
			<p>Autor: <span th:text="${article.editedBy}" th:remove="tag"/></p>
		</div>
		<div class="meta" th:unless="${article.createdAt != null}">
			<p>Od momentu utworzenia do artykułu nie dodano żadnej treści</p>
		</div>
	</header>

	<nav aria-label="breadcrumb" th:unless="${article.link == 'strona-glowna'}">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Strona główna</a></li>
			<th:block th:each="crumb : ${breadcrumbs}">
			<li class="breadcrumb-item"><a th:href="@{'/artykul/' +${crumb.link}}" th:text="${crumb.title}"></a></li>
			</th:block>
			<li class="breadcrumb-item active" aria-current="page" th:text="${article.title}"></li>
		</ol>
	</nav>

	<nav class="article-children" th:if="${article.children.size() > 0}">
		<th:block th:each="child : ${article.children}">
		<a class="nav-item nav-link" th:href="@{'/artykul/' +${child.link}}" th:text="${child.title}"></a>
		</th:block>
	</nav>
	
	<div th:utext="${article.content}" th:remove="tag" />
	
	<th:block th:if="${article.attachments.size() > 0}">
	<h3>Załączniki:</h3>
	<ol class="list-group">
		<li class="list-group-item" th:each="attachment : ${article.attachments}">
		<a th:href="@{'/zalaczniki/' +${attachment.fileName}}" th:text="${attachment.displayName}"></a>
			[<span th:text=". +${attachment.extension}" th:remove="tag"></span>; 
			<span th:text="${T(net.jewczuk.openbip.utils.DisplayUtils).formatSize(attachment.size)}" th:remove="tag"></span>]
			<span class="editor-details">dodany przez: <span th:text="${attachment.addedBy}" th:remove="tag"></span>, 
			<span th:text="${#temporals.format(attachment.addedAt, 'dd-MM-yyyy HH:mm')}" th:remove="tag"></span>
			</span>
		</li>
	</ol>
	</th:block>
	
	<footer>
		<p>Zobacz historię zmian: <a th:href="@{'/historia/' + ${article.link} + '#tresc'}">treści</a> / <a th:href="@{'/historia/' + ${article.link} + '#zalaczniki'}">załączników</a></p>
	</footer>
	
</article>

</body>
</html>